* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    background: #22262a;
    font-size: 16px;
}

.header {
    position: relative;
    z-index: 100;
    display: flex;
    margin-bottom: 20px;
    width: 100%;
    height: 90px;
    background: #22262a;
    box-shadow: 0 1px 10px #000;
}